.forgot-password-page {
    /* Overall page styling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://i.pinimg.com/originals/7a/c7/1e/7ac71e72373b0fb270b3a6d72e44eea3.gif') no-repeat center center/cover, rgba(128, 128, 128, 0.2); /* Gray glass effect with image */
    background-size: cover; /* Ensure the background covers the entire viewport */
    color: #fff; /* White text color */
    font-family: 'Arial', sans-serif; /* Use the same font-family */
}

.forgot-password-block {
    background: rgba(0, 0, 0, 0.4); /* Dark semi-transparent background */
    backdrop-filter: blur(10px); /* Glass effect */
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    margin: 20px; /* Margin to prevent content from touching edges */
}

.forgot-password-title {
    /* Styling for the title */
    font-size: 35px;
    font-weight: bold;
    color: #ffa857; /* Matching color */
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}
label{
    width: 10%;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
}
.email-input {
    /* Styling for the email input field */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%; /* Full width to match button */
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
}

.reset-button {
    /* Styling for the reset button */
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.info-text {
    /* Styling for the info text */
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
}

.back-button {
    /* Styling for the back button */
    background-color: transparent; /* Transparent background */
    border: none;
    color: #ffa857; /* Matching color */
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    width: 15%; /* Full width */
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}
